{% extends 'base.html.j2'%}

{% block head %}

    <title>Lakeside Guesser</title>

{% endblock %}

{% block body %}

    <script type="module" src="static/game.js"></script>

    <div id="name-panel">{{name}}</div>
    
    <div class="left-panel">
        <div class="stats-block">
            <div id="round-text">ROUND 1/5</div>
            <div id="divider"></div>
            <div id="stats-block-2">
                <div id="stats-block-2-left">
                    ROUND TIME
                    <div id="timer-text">0:00.0</div>
                </div>
                <div id="stats-block-2-right">
                    SCORE
                    <div id="score-text">0</div>
                </div>
            </div>
            <div class="round-stats">
                <div id="stats-subtitle">
                    DISTANCE OFF
                    <div id="distance">
                        0 meters
                    </div>
                </div>
                <div id="points-text">
                    + 2000 POINTS
                </div>
                <div id="divider"></div>
                <div id="stats-subtitle">
                    TIME BONUS
                    <div id="time-bonus-text">
                        + 200 POINTS
                    </div>
                </div>
                <div id="stats-subtitle">
                    TOTAL TIME
                    <div id="total-time-text">
                        1:36.9
                    </div>
                </div>
                <div id="divider"></div>
                <div id="stats-subtitle-right">
                    ROUND SCORE
                    <div id="total-round-points">
                        + 2200 POINTS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="right-panel">
        <div class="location-image"></div>
        <div id="button-block">
            <button class="confirm-button">PIN A LOCATION</button>
        </div>
    </div>

    <div id="cards">
        <div class="card card-1"></div>
        <div class="card card-2"></div>
        <div class="card card-3"></div>
        <div class="card card-4"></div>
        <div class="card card-5"></div>
    </div>

    <div class="mid-panel">
        <button id="undo-button">UNPIN</button>
    </div>

    <form method="post" id="continue-form" action="results">
        <input type="hidden" name="score" value="0">
        <input type="hidden" name="name" value="">
    </form>

{% endblock %}